[submodule "sosaa"]
	path = sosaa
	url = https://github.com/juntyr/sosaa-10618aa.git
[submodule "sosaa-data/trajectories"]
	path = sosaa-data/trajectories
	url = https://github.com/juntyr/sosaa-trajectories-dataset.git
[submodule "sosaa-gui"]
	path = sosaa-gui
	url = https://github.com/juntyr/sosaa-gui.git
